<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718120344744-f12oldecd6ia8e243hk61q6knq6sbgd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718120344744-f12oldecd6ia8e243hk61q6knq6sbgd4</string>
	<key>API_KEY</key>
	<string>AIzaSyCyNpWAHf9-rWnaUv3Sm2nZ9g_FD_a4Awk</string>
	<key>GCM_SENDER_ID</key>
	<string>718120344744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-12e10</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-12e10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718120344744:ios:137d045a1062ef2546369d</string>
</dict>
</plist>